/* App.css */
.app-container {
  background-image: url('./image/nav.gif'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensures that the background covers the entire viewport */
  position: relative; /* Ensures that the background covers the entire viewport */
}

.welcome-message {
  text-align: center;
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-message h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white; /* เพิ่มสีขาวให้กับตัวหนังสือ */
  background-image: url('./image/wHprNw.gif ') 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

